
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
sem_controle_versao
My Notebook
.vscode/
desktop.ini
*/testes/
/Default.rdp
/.gitignore
/.gitignore
/.gitignore
/calculo_frete/Novo Documento de Texto.txt
/importacao_notas_fiscais/correcao_assislog.sql
*/model
/sped/sped.rar
/Cópia de Status-DexPara-Track3r.xlsx
/dados_contato_filial/informacoes_contato.sql
/dados_contato_filial/informacoes_contato.sql
/dados_contato_filial/informacoes_contato.sql
/calculo_frete/calculo_frete.rar
/dados_contato_filial/informacoes_contato.sql
/dados_contato_filial/informacoes_contato.sql
/dados_contato_filial/informacoes_contato.sql
/pessoal/contas_cartao_pai.xlsx
/pronfe/exclui_terceiros_sem_uso.sql
/pronfe/normaliza_cad_terceiros.sql
/documentos_outros/avaliacao_funcional_qualitas.xlsx
/utils/password_foreign_tables.sql
/centro_oeste_gas/insert_com_nf.sql
/centro_oeste_gas/insert_com_nf_itens.sql
/dng_custom/conferencia_dng_frete_zerados.sql
/dng_custom/conferencia_relatorio_dng.sql
/dados_contato_filial/informacoes_contato.sql
/documentos_outros/rem011119101903.txt
/documentos_outros/rem011119115336.txt
/qualitas/
/centro_oeste_gas/debug.sql
/dados_contato_filial/informacoes_contato.sql
/dados_contato_filial/informacoes_contato.sql
/edi_proceda/insere_ocorrencias_track3r.sql
/documentos_outros/*
/Visual Studio 2017/*
/2020-01.xml
/2020-02.xml
/marcio/*
/outros/*
/utils/logo_filial_link.sql
/utils/templates_sql.sql
/sped/gera_sped.sql
