
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
sem_controle_versao
My Notebook
.vscode/
desktop.ini
*/testes/
/Default.rdp
/.gitignore
/.gitignore
/.gitignore
/calculo_frete/Novo Documento de Texto.txt
/importacao_notas_fiscais/correcao_assislog.sql
*/model